@page
@model ascsite.Pages.content.editModel
@{
    ViewData["Title"] = "edit";
}

<link rel="stylesheet" type="text/css" href="~/css/styles.css">

<h1>Edit Project</h1>
<p><b style="color: @Html.Raw(Model.StatusColor)">@Model.Status</b></p>

<form method="GET">
    Project Id
    <input type="text" value="" name="PostId" />
    <input type="submit" value="Download" />
</form>

<hr>

<form method="POST">
    Change an article<br>
    Id (-1 if need to add)<br>
    <input type="text" class="edit-field" value="@Model.PostId" name="PostId"><br>
    Title<br>
    <input type="text" class="edit-field" value="@Model.PostName" name="PostName"><br>
    Announcement<br>
    <textarea type="text" rows="5" class="edit-field" value="" name="PostAnnouncement">@Model.PostAnnouncement</textarea><br>
    Body<br>
    <textarea type="text" rows="40" class="edit-field" name="PostBody">@Model.PostBody</textarea><br>
    Type<br>
    <input type="text" class="edit-field" value="@Model.PostType" name="PostType"><br>
    Relations<br>
    <textarea type="text" rows="5" class="edit-field" value="" name="RelationTypes">@Model.RelationTypes</textarea><br>
    Password<br>
    <input type="password" name="Password"><br>
    <input type="submit" value="Commit">
</form>