@page "{handler?}"
@model ascsite.Pages.MSLModel
@{

}
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/codemirror.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/codemirror.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/mode/clike/clike.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/addon/hint/show-hint.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.29.0/addon/hint/show-hint.css">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
</head>

<form method="post">
    <div>
        <div class="code-editor-container ">
            <textarea spellcheck="false" id="msl-editor" rows="50" cols="40" name="CodeText">@Model.CodeText</textarea>
        </div>
        <div class="horizontal-align-container">
            <h6 style="text-align: center; padding-left: 28pt;">MSL samples</h6>
            <ul style="list-style-type: none;">
                @foreach (var file in @Model.SampleList)
                {
                    string fileName = file.Remove(file.IndexOf(".msl"), ".msl".Length);
                    <li class="asc-button huge-asc-button" onclick="loadSample('@fileName')">@fileName</li>
                    <p id=@fileName style="display: none">@Model.LoadSample(file)</p>
                }
            </ul>
        </div>
    </div>

    <div class="horizontal-align-container">
        <div class="inlined-block">
            <input class="asc-button big-asc-button" type="submit" 
                   value="Compile" id="send-button" asp-page-handler="CompileCode"/>
        </div>
        <div class="inlined-block">
            <input class="asc-button big-asc-button" type="submit" 
                   value="Get link" id="getlink-buttom" asp-page-handler="GenerateLink" />
        </div>
    </div>
</form>

<div id="response">
    <textarea spellcheck="false" id="msl-output" rows="10" cols="80">@Model.OutputMSL</textarea>
</div>

<script language="javascript" src="~/msl/msleditor.js"></script>
